/* Global Custom Scrollbar Styles for WebKit Browsers */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Color of the scrollbar thumb on hover */
}

/* Custom Scrollbar Styles for Firefox */
body {
  scrollbar-width: thin; /* Scrollbar width */
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent; /* Scrollbar thumb and track colors */
}
