/* ==========================================================================
   LINKS
   ========================================================================== */
p a {
    color: var(--global-link-color);
    text-decoration: none; /* No underline */

    &:hover {
        color: var(--global-link-color-hover);
        text-decoration: underline; /* Underline on hover */
    }
}
